@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;800;900&display=swap");

.home-button {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.home-text::before {
  content: "[ enter ]";
  color: white;
  font-size: 20px;
  user-select: none;
}
.home-text:hover {
  cursor: pointer;
}
.home-text-false::before {
  content: "[ exit ]";
  color: black;
  font-size: 20px;
  user-select: none;
  transition: 10s;
}
.home-text-false:hover {
  cursor: pointer;
}

.home-outer {
  width: 200%;
  height: 300vh;
  position: absolute;
  top: -100vh;
  left: -50%;
  transition: 3s;
}
.home-outer-false {
  width: 400%;
  height: 600vh;
  position: absolute;
  top: -250vh;
  left: -150%;
  opacity: 0.2;
  transition: 3s;
}
